main {
	background-image: url("http://www.transparenttextures.com/patterns/arches.png");
	background-repeat: repeat;
	}	
header {
	height: 210px;
	font-size: 20px
	
}	
}
button {
	float: left;
	text-align: center;
	background-color: #cccccc;
	box-shadow: 10px 10px 5px #000000;
	padding: 10px;
	margin-right: 425px;
	margin-left: 425px;
	border-radius: 25px;
}




.content {
	text-align: left;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

h1 {
font-family: sans-serif;
}

h2 {
	text-align: left;
	margin-left: 20px;
	font-family: sans-serif;
	}

li {
	list-style-type: none;

}
li:first-line {
	font-weight: bold;
}

ul:hover {
	background-color: #cccccc;
	border-radius: 25px;


}
img {
	float: left;
height: 200px;
width: 200px;
border-radius: 10px;
margin-right: 15px;
}

footer {
	text-align: center;
}